.mobile {
  display: initial;
}

.desktop {
  display: none;
}

body {
  width: 100%;
}

header {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  margin: 0 0 1em 0;
  padding: 0.5em 1em;
  border-radius: 0;
}

header > div {
  width: 100%;
}

header > div:not(:first-of-type) {
  display: none;
  align-items: start;
}

.header-avatar {
  padding: 0;
  flex: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.header-avatar > div:first-of-type {
  font-size: 2em;
}

.header-pages {
  flex-direction: column;
  
}

.header-pages a {
  font-size: 1.75em;
}